<a href="https://colab.research.google.com/github/davegbade/Prediction-of-Product-Sales/blob/main/Prediction%20of%20Product%20Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Prediction of Product Sales**  
    David Gbadebo

**Project Overview**

**Load and Inspect Data**

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [35]:
from google.colab import drive
drive.mount("sale_predictions_2023")

Mounted at sale_predictions_2023

In [36]:
fpath = "/content/sale_predictions_2023/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/sales_predictions_2023.csv"

In [37]:
import pandas as pd

In [38]:
df_sale_predictions = pd.read_csv(fpath)

In [39]:
#Use df.info() and df.head() methods to preview the first rows of your data and a
df_sale_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [40]:
df_sale_predictions.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

**Clean Data**

In [41]:
#Explore the data - what do you need to do to clean this data? Clean it!
#Get the number of rows and columns
print(df_sale_predictions.shape)

(8523, 12)

In [42]:
# Get the datatypes of each variable
print(df_sale_predictions.dtypes)

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [44]:
# Check for duplicate rows
print(df_sale_predictions.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [52]:
#Be sure to address each of the following tasks:
# Drop duplicate rows

df = df_sale_predictions.drop_duplicates()
print(df_sale_predictions.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [47]:
# Print the new shape

print(df_sale_predictions.shape)

(8523, 12)

In [48]:
# Check for missing values

print(df_sale_predictions.isnull())

      Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  \
0               False        False             False            False
1               False        False             False            False
2               False        False             False            False
3               False        False             False            False
4               False        False             False            False
...               ...          ...               ...              ...
8518            False        False             False            False
8519            False        False             False            False
8520            False        False             False            False
8521            False        False             False            False
8522            False        False             False            False

      Item_Type  Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  \
0         False     False              False                      False
1         False     False              False                      False
2         False     False              False                      False
3         False     False              False                      False
4         False     False              False                      False
...         ...       ...                ...                        ...
8518      False     False              False                      False
8519      False     False              False                      False
8520      False     False              False                      False
8521      False     False              False                      False
8522      False     False              False                      False

      Outlet_Size  Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
0           False                 False        False              False
1           False                 False        False              False
2           False                 False        False              False
3            True                 False        False              False
4           False                 False        False              False
...           ...                   ...          ...                ...
8518        False                 False        False              False
8519         True                 False        False              False
8520        False                 False        False              False
8521        False                 False        False              False
8522        False                 False        False              False

[8523 rows x 12 columns]

In [49]:
# Drop the row that contains all missing values
df_sale_predictions = df_sale_predictions.dropna(how='all')

In [54]:
# View all duplicated rows using your duplicated_rows_all filter

duplicated_rows = df_sale_predictions.duplicated(keep=False)
# Obtain the sum of duplicated to confirm all have been dropped

duplicated_rows.sum()

0

In [55]:
# print the value counts for the column
print(df_sale_predictions.value_counts())

Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  Item_Type     Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  Outlet_Type        Item_Outlet_Sales
DRA12            11.600       LF                0.000000         Soft Drinks   141.9154  OUT035             2004                       Small        Tier 2                Supermarket Type1  992.7078             1
FDV35            19.500       Low Fat           0.128182         Breads        156.1314  OUT035             2004                       Small        Tier 2                Supermarket Type1  2792.3652            1
FDV25            5.905        low fat           0.045614         Canned        221.5456  OUT013             1987                       High         Tier 3                Supermarket Type1  6852.4136            1
                              Low Fat           0.045838         Canned        222.5456  OUT018             2009                       Medium       Tier 3                Supermarket Type2  3315.6840            1
                                                0.045723         Canned        222.1456  OUT049             1999                       Medium       Tier 1                Supermarket Type1  5747.1856            1
                                                                                                                                                                                                                 ..
FDJ16            9.195        Low Fat           0.115064         Frozen Foods  58.6246   OUT049             1999                       Medium       Tier 1                Supermarket Type1  868.8690             1
                                                0.114886         Frozen Foods  59.6246   OUT046             1997                       Small        Tier 1                Supermarket Type1  1100.5674            1
                              LF                0.114864         Frozen Foods  59.0246   OUT035             2004                       Small        Tier 2                Supermarket Type1  1853.5872            1
FDJ15            11.350       Regular           0.023359         Dairy         184.4608  OUT049             1999                       Medium       Tier 1                Supermarket Type1  4042.7376            1
NCZ54            14.650       Low Fat           0.083699         Household     163.4552  OUT018             2009                       Medium       Tier 3                Supermarket Type2  2599.2832            1
Length: 4650, dtype: int64

In [58]:
# Check for inconsistencies by inspecting the value_counts 

print(df_sale_predictions['Item_Fat_Content'].unique())

['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

In [62]:
print(df_sale_predictions['Outlet_Size'].unique())

['Medium' nan 'High' 'Small']

In [64]:
print(df_sale_predictions['Outlet_Type'].unique())

['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

In [65]:
df_sale_predictions['Item_Fat_Content'] = df_sale_predictions['Item_Fat_Content'].replace('LF','Low Fat')

In [66]:
df_sale_predictions['Item_Fat_Content'] = df_sale_predictions['Item_Fat_Content'].replace('reg','Regular')

In [69]:
print(df_sale_predictions.describe())

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  7060.000000      8523.000000  8523.000000                8523.000000
mean     12.857645         0.066132   140.992782                1997.831867
std       4.643456         0.051598    62.275067                   8.371760
min       4.555000         0.000000    31.290000                1985.000000
25%       8.773750         0.026989    93.826500                1987.000000
50%      12.600000         0.053931   143.012800                1999.000000
75%      16.850000         0.094585   185.643700                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800

**Exploratory Data Analysis**

**Explanatory Data Analysis**